= render :partial => "admin/shared/report_construction", :locals => { :f => f, :report_type => "final" }
= render :partial => "final_budget", :locals => { :f => f }
= render :partial => "admin/shared/report_impact", :locals => { :f => f, :extended => true }
= render :partial => "admin/shared/report_employment_generation", :locals => {:f => f}

= render :partial => "admin/shared/report_footer", :locals => { :report => @partner_project_final_report }
