<% content_for(:page_title, "Impact Report for #{project.name}") %>

<div class="clear"></div>

<div class="breadcrumbs">
  <%= link_to "&laquo; back to project", @project, :class => "breadcrumbs green" %>
</div>

<div id="wrapper-copy">
  <div class="component-header-full nopadtop">
    <h3><%=h @partner_project_impact_report.title %></h3>
  </div>
  <div class="box-full-middle">
    <div class="pad_top pad_left">
      
      <p><em>Posted: <%=h @partner_project_impact_report.created_at.strftime("%m/%d/%Y") %></em></p>
      
      
      <hr />
      <p><strong>Impact (to date)</strong></p>
      <hr />

      
      <% unless @partner_project_impact_report.lives_directly_impacted.blank? %>
      <p>
        <strong>Lives directly impacted</strong><br />
        <%= h(@partner_project_impact_report.lives_directly_impacted) %>
      </p>
      <% end %>
      
      <% unless @partner_project_impact_report.primary_benefits_summary.blank? %>
      <p>
        <strong>Direct Impact/Primary Benefits</strong><br />
        <%= auto_link(simple_format(h(@partner_project_impact_report.primary_benefits_summary))) %>
      </p>
      <% end %>

      
      <% unless @partner_project_impact_report.lives_indirectly_impacted.blank? %>
      <p>
        <strong>Lives Indirectly Impacted </strong><br />
        <%= h(@partner_project_impact_report.lives_indirectly_impacted) %>
      </p>
      <% end %>

      
      <% unless @partner_project_impact_report.extended_benefits_summary.blank? %>
      <p>
        <strong>Community-wide Impact/Extended Benefits</strong><br />
        <%= auto_link(simple_format(h(@partner_project_impact_report.extended_benefits_summary))) %>
      </p>
      <% end %>

      
      <% unless @partner_project_impact_report.education_and_nutrition.blank? %>
      <p>
        <strong>Education &amp; Nutrition</strong><br />
        <%= auto_link(simple_format(h(@partner_project_impact_report.education_and_nutrition))) %>
      </p>
      <% end %>

      <% unless @partner_project_impact_report.improved_health.blank? %>
      <p>
        <strong>Improved health</strong><br />
        <%= auto_link(simple_format(h(@partner_project_impact_report.improved_health))) %>
      </p>
      <% end %>

      
      <% unless @partner_project_impact_report.agriculture_and_food.blank? %>
      <p>
        <strong>Agriculture and food</strong><br />
        <%= auto_link(simple_format(h(@partner_project_impact_report.agriculture_and_food))) %>
      </p>
      <% end %>

      
      <% unless @partner_project_impact_report.clean_energy.blank? %>
      <p>
        <strong>Clean energy</strong><br />
        <%= auto_link(simple_format(h(@partner_project_impact_report.clean_energy))) %>
      </p>
      <% end %>

      
      <hr />
      <p><strong>Employment Generation</strong></p>
      <hr />

      <% unless @partner_project_impact_report.productive_time_created.blank? %>
      <p>
        <strong>Productive time created</strong><br />
        <%= auto_link(simple_format(h(@partner_project_impact_report.productive_time_created))) %>
      </p>
      <% end %>

      
      <% unless @partner_project_impact_report.number_of_jobs_created.blank? %>
      <p>
        <strong>Jobs created</strong><br />
        <%= h(@partner_project_impact_report.number_of_jobs_created) %>
      </p>
      <% end %>

      <% unless @partner_project_impact_report.job_breakdown.blank? %>
      <p>
        <strong>Description and breakdown of jobs </strong><br />
        <%= auto_link(simple_format(h(@partner_project_impact_report.job_breakdown))) %>
      </p>
      <% end %>

      
      <% unless @partner_project_impact_report.wages_increased.blank? %>
      <p>
        <strong>Wages increased</strong><br />
        <%= auto_link(simple_format(h(@partner_project_impact_report.wages_increased))) %>
      </p>
      <% end %>

      
      <% unless @partner_project_impact_report.small_businesses_created.blank? %>
      <p>
        <strong>Small businesses created</strong><br />
        <%= h(@partner_project_impact_report.small_businesses_created) %>
      </p>
      <% end %>

      <% unless @partner_project_impact_report.business_breakdown.blank? %>
      <p>
        <strong>Description and breakdown of businesses </strong><br />
        <%= auto_link(simple_format(h(@partner_project_impact_report.business_breakdown))) %>
      </p>
      <% end %>

      
      <% unless @partner_project_impact_report.other.blank? %>
      <p>
        <strong>Other </strong><br />
        <%= auto_link(simple_format(h(@partner_project_impact_report.other))) %>
      </p>
      <% end %>

      
      <% unless @partner_project_impact_report.community_changed_summary.blank? %>
      <p>
        <strong>How has this project changed the community?</strong><br />
        <%= auto_link(simple_format(h(@partner_project_impact_report.community_changed_summary))) %>
      </p>
      <% end %>
      
      <%= render :partial => "shared/partner_project_report_downloads", :locals => { :report => @partner_project_impact_report } %>
    </div>
  </div>
  <div class="box-full-bottom"></div>
</div>
<div class="clear">
