<h1>
  Add Picture to Project
  <br/>
  Project: <%=h @project.name %>
</h1>

<% form_for([:admin, @project, @project_picture], :html => { :multipart => true }) do |f| %>
  <%= f.error_messages %>

<table border="0" cellspacing="0" cellpadding="0" class="form-table">
  <%= render :partial => "form", :locals => { :f => f } %>

  <tr>
    <td class="form-submit" colspan="2"><%= f.submit 'Create' %></td>
  </tr>
</table>
<% end %>

<%= link_to 'Back', [:admin, @project, :project_pictures] %>
