<% event = object -%>
<div class="calendar">
  <div class="left">
    <div class="date">
   
    	<div class="month"><%=h event.event_start_time.strftime("%b").upcase %></div>
    	<div class="day"><%=h event.event_start_time.strftime("%e") %></div>
    	<div class="clear"></div>
    </div>
  </div>
  <div class="right">
    <p class="link"><%= link_to h("#{event.name.upcase} - #{event.event_start_time.strftime("%B %e, %Y at %l:%M%p")}"), [event.project, event] %></p>
    <p class="description">
    	 <%=h event.short_description %>
    </p>
    <p class="readmore">
    <% if current_user_can_edit_public_project?(event.project) -%>
      <%= link_to "edit fundraiser", [:edit, event.project, event], :class => "orange_bottom" -%> |
    <% end -%>
    <a class="orange_bottom" href="#<%=h share_box_id(event) %>" rel="facebox">share</a>
    <%= render :partial => "shared/share_box", :locals => { :shareable => event }%>
    </p>
  </div>
  <div class="clear"></div>
</div>
