%h1
  General Forms

.xls_link
  = link_to "Download All As Excel Spreadsheet", url_for({:format => :xls}.merge(params))

%div= will_paginate(@general_forms_paginated)

%table.index-list{:cellpadding => "0", :cellspacing => "0"}
  %tr.index-list-header
    %th ID
    %th Source
    %th First Name
    %th Last Name
    %th Email
    %th Phone Number
    %th Location
    %th Location Other
    %th Cause
    %th Referred By
    %th Campaign Code
    %th User Request
    %th User Comment
    %th Date
  - @general_forms_paginated.each do |general_form|
    %tr
      %td= h general_form.id
      %td= h general_form.source.to_s
      %td= h general_form.first_name.to_s
      %td= h general_form.last_name.to_s
      %td= link_to h(general_form.email), "mailto:#{general_form.email}"
      %td= h general_form.phone_number.to_s
      %td= h general_form.location.to_s
      %td= h general_form.location_other.to_s
      %td= h general_form.cause.to_s
      %td= h general_form.referred_by.to_s
      %td= h general_form.campaign_code.to_s
      %td= h general_form.request.to_s
      %td= h general_form.comment.to_s
      %td= h general_form.created_at.in_time_zone('Eastern Time (US & Canada)').strftime("%Y-%m-%d %H:%M %Z")

%br

%div= will_paginate(@general_forms_paginated)

