%h1= "Listing Media Album Videos for Project '#{@project.name}', Media Album '#{@media_album.title}'"

.new-button= link_to '(+) Add a video', [:new, :admin, @project, @media_album, :media_album_video]

%table.index-list{:cellpadding => "0", :cellspacing => "0" }
  %tr.index-list-header
    %th Title
    %th Description
    %th Url
    %th{:colspan => "3"} Actions
  - @media_album_videos.each do |video|
    %tr
      %td= h video.title
      %td= h video.description
      %td= link_to h(video.url), video.url, :target => "_blank"
      %td= link_to "Show", [:admin, @project, @media_album, video]
      %td= link_to "Edit", [:edit, :admin, @project, @media_album, video]
      %td= link_to "Destroy", [:admin, @project, @media_album, video], :confirm => "Are you sure?", :method => :delete
