%h1
  Change Password for
  = h @user.name

- form_for([:change_password, :admin, @user]) do |f|
  = f.error_messages
  %table.form-table{ :cellspacing => "0", :border => "0", :cellpadding => "0" }
    %tr
      %td.form-label
        %strong
          = f.label :password
          *
      %td
        = f.password_field :password
    %tr
      %td.form-label
        %strong
          = f.label :password_confirmation
          *
      %td
        = f.password_field :password_confirmation
    %tr
      %td.form-submit{ :colspan => "2" }
        = f.submit 'Change Password'

= link_to 'Back', admin_all_users_path

