<h1>
  Project Focus Areas
  <br/>
  Project: <%=h @project.name %>
</h1>

<div class="new-button">
  <%= link_to '(+) Add Focus Areas to Project', new_admin_project_project_focus_area_association_path(@project) %>
</div>

<table cellpadding="0" cellspacing="0" class="index-list">
  <tr class="index-list-header">
    <th>Focus Area</th>
    <th colspan="3">Actions</th>
  </tr>

<% @project_focus_area_associations.each do |project_focus_area_association| %>
  <tr>
    <td><%=h project_focus_area_association.focus_area.name %></td>
    <td><%= link_to 'Show', [:admin, @project, project_focus_area_association] %></td>
    <td><%= link_to 'Edit', edit_admin_project_project_focus_area_association_path(@project, project_focus_area_association) %></td>
    <td><%= link_to 'Destroy', [:admin, @project, project_focus_area_association], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

