%p
  %strong Productive Time created:
  = h report.productive_time_created

%p
  %strong Number of jobs created:
  = report.number_of_jobs_created

%p
  %strong Description and breakdown of jobs:
  = h report.job_breakdown

%p
  %strong Wages increased:
  = h report.wages_increased

%p
  %strong Number of small businesses created:
  = report.small_businesses_created

%p
  %strong Description and breakdown of businesses:
  = h report.business_breakdown

%p
  %strong Other:
  = h report.other
