<% content_for(:page_title, "Share #{@project_event.name}") %>

<div class="breadcrumbs">
	<%= link_to "&laquo; back to event page", [@project_event.project, @project_event], :class => "breadcrumbs green" %>
</div>

<!-- main body copy -->
<div id="wrapper-copy">

	<div class="component-header-full nopadtop">
		<h3>SEND INVITATIONS</h3>
	</div> 	
	<!-- full-width component -->
	<div class="box-full-middle">
		<h5 class="pad_full strong"><%=h @project_event.project.cp.first_name %>’s <%=h @project_event.name %></h5>
		<!-- buttons -->
		<div class="filter pad_bottom">
			<div class="left large">&nbsp;</div>
			<div class="buttons large">
        <%= link_to "", [:share, @project_event.project, @project_event], :id => "share", :class => "active" %>
        <%= link_to "", [:new, @project_event, :project_event_invitation_email], :id => "email_contacts" %>
      </div>
			<div class="right large">&nbsp;</div>
			<div class="clear"></div>
		</div>
		
    <div class="div_center">
		  <%= render :partial => "shared/share_page", :locals => { :shareable => @project_event } %>
    </div>

	</div>
	<div class="box-full-bottom"></div>
</div>
